/*GENERAL*/
*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

 html,
 body{
   font-size: 14px;
   color: rgb(62, 61, 62);
   line-height: 1.5;
 }

 h1,h2,h3,h4,h5,h6{
   font-weight: bold;
 }

 h5,h6{
   text-transform: uppercase;
   color: rgb(205, 205, 205);
 }



/*SCROLLBAR*/
::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #d5d0d0;
    height: 0;
    border-radius: 25px;
}
